# App requirements
Pillow==8.2.0
numpy==1.19.5
requests==2.25.1
gTTS==2.2.2
mutagen==1.45.1
matplotlib==3.3.4
wordcloud==1.8.1
pyhumps==1.6.1
xmltodict==0.12.0
pydub==0.25.1
kiwisolver==1.0.1

# Server requirements
flask==1.1.2
gunicorn==20.0.4
