.Editor-main{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    float: left;
    width: 1280px;
    height: 720px;
  }
  
  .Editor-canvas{
    background-color: rgb(255, 255, 255);
    border: solid 5px;
    border-color: rgb(255, 0, 0);
    width: 1280px;
    height: 720px;
  }
  
  .Editor-text{
    position: absolute;
    padding: 15px;
    margin: 0px;
    border: none;
    overflow: hidden;
    background: none;
    outline: none;
    resize: none;
    transform-origin: top left;
  }

  .ColorPicker{
    display: none;
  }

  .button{
    margin: 10px;
    padding: 10px;
    float: left;
    width: 40vw;
    height: 500px;
    background-color: rgb(223, 223, 223);
    border: 5px solid rgb(255, 0, 0);
  }

  .itemList{
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: rgb(223, 223, 223);
    width: 15vw;
    height: calc(50vh - 20px);
    border: 5px solid rgb(255, 0, 0);
  }

  button {
    background-color: #ccc;
    border: 2px solid #666666;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width: 250px;
  }

  input{
    background-color: #eee;
    border: 2px solid #666666;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
  }

  .button input.color {
    width: 90px;
  }

  .button input.number{
    width: 60px;
  }

  .button input.text{
    width: 235px;
  }

  button:hover{
    background-color: rgb(206, 195, 255);
  }  
  