frontend/node_modules/
.pnp
.pnp.js
coverage
build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

visuanalytics/instance/
.webassets-cache
visuanalytics/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
visuanalytics/build/
visuanalytics/develop-eggs/
visuanalytics/dist/
visuanalytics/downloads/
eggs/
.eggs/
visuanalytics/lib/
visuanalytics/lib64/
visuanalytics/parts/
visuanalytics/sdist/
visuanalytics/var/
visuanalytics/wheels/
visuanalytics/pip-wheel-metadata/
visuanalytics/share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
visuanalytics/htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
.scrapy
visuanalytics/docs/_build/
visuanalytics/target/
.python-version
celerybeat-schedule
*.sage.py
.spyderproject
.spyproject
.ropeproject
.mr.developer.cfg
.project
.pydevproject
/site
.mypy_cache
.dmypy.json
dmypy.json
.pyre/
visuanalytics/docs/
visuanalytics/resources/temp/
visuanalytics/resources/memory/
visuanalytics/server/static/
visuanalytics/server/templates/