name: Automated Testing

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  # Run tests.
  backend_tests:
    runs-on: ubuntu-latest
    name: Backend tests

    steps:
      - uses: actions/checkout@v2

      - name: Run tests
        run: |
          docker-compose --file src/visuanalytics/docker-compose.test.yml build
          docker-compose --file src/visuanalytics/docker-compose.test.yml run sut
  frontend_tests:
    runs-on: ubuntu-latest
    name: Frontend tests

    defaults:
      run:
        working-directory: src/frontend

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm ci
      - run: npm run lint
      - run: npm run build --if-present
      - run: react-scripts test --transformIgnorePatterns \"node_modules/(?!ui-core)/\" --env=jsdom
